body,td,th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;

}

.warnacoklat{
    background-color: #666666;
}

#wrapper-top{
    /*    background:#fff;
        height:100px; */
}
#wrapper-header{
    background:#f9f9f9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;

}
#slider-container {
    padding : 29px 0 0 0;
    width : 940px;
    margin : 0px auto;
}

.vas {
    font-size: 14px;
    font-weight: bold;
}
.up {
    color: #990;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
}
.csa {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.hh {
    color: #FFF;
}
a:link {
    color: #FFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #FFF;
}
a:hover {
    text-decoration: underline;
    color: #FFF;
}
a:active {
    text-decoration: none;
    color: #000;
}
#form1 table tr td {
    color: #FFF;
}
.casf {
    color: #000;
}

.agenda{
    height:auto;
    width:auto;
    padding-bottom: 10px;
    clear: both;
}

.title{
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.date-title{
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.pr{
    width:100%;
    padding-left:10px;
    height : 20px;
    inline-box-align:last;
    margin-top:10px
}

.readmore{
    width:100%;
    text-align:right;
    padding-right: 10px;
}

.halaman
{
    clear: both;
    position: relative;
    bottom: 10px;
    text-align: center;
    margin:10px;
    font-size:11px;
}

.halaman a
{

    padding:3px;
    background:#990000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #FFA500;
    font-size:10px;
    font-weight:bold;
    color:#FFF;
    text-decoration:none;

}

.pic-experience{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.pic-right{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}